body{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Rajdhani';
}
h1, h2, h3, h4, h5, h6{
    color: #1e4387;
    font-weight: bold;
    font-family: 'Rajdhani';
}
h1{
    font-size: 50px;
}
h2{
    font-size:40px ;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 25px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 15px;
}
.pointer{
    cursor: pointer;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color:#000
}
.ml-auto{
    margin-left: auto;
}
.contact a{
    margin-right: 10px;
    color: #fff;
}
.nav-header{
    padding: 10px;
    color: #fff;
}
.ml-auto ul li{
    margin-right: 20px;
    font-weight: bold;
}
.ml-auto ul li a{
    color: #fff;
}
.ml-auto ul li .active{
    color: #f99d30;
}
.date-age{
    font-family: "Poppins";
    align-items: center;
}
header.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0,0);
    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
header.header.fixed{
    background-color: #1e4387;
    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.check{
    font-family: "Poppins" ;
    background-color: #ef7534;
}
.check a span{
    color: #fff;
}
.button-1{
    background-color: #ef7534;
    padding: 10px 20px;
    color: #fff;
}
.count-section{
    background-color: #ef7534;
}
.size{
    font-size: 50px;
}
.Features-options{
    padding: 35px;
}
.on-link{
    margin-left: 15px;
}
#size-2{
    font-size: 50px;
}
.photo{
    margin-right: 10px;
}
.count-section{
    position: relative;
    z-index: 2;
}
.count-section::after{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100px;
    background-color: #ef7534;
}
.level-up{
    position: relative;
    z-index: 3;
}
.aboutus-section{
    background-image: url("img/about-us-background.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.immage-aboutus{
    position: relative;
}
.immage-1{
    position: relative;
    top: -20px;
}
.immage-2{
    position: absolute;
    left: 35%;
    bottom: -10px;
    border-left: 10px solid #fff;
    border-top: 10px solid #fff;
}
.banner-section{
    position: relative;
}
.bannr-socal-icon{
    position: absolute;
    left:90% ;
    transform: translatey(-50%);
    top: 50%;
    width:35px ;
    font-size: 24px;
    text-align: center;
}
.bannr-socal-icon a{
    margin-bottom: 10px;
    display: block;
    color: #fff;
}
.up-line{
    display: inline-block;
    height: 100px;
    width: 1px;
    background-color: #fff;
    margin-bottom: 10px;
}
.banner-wrp{
    position: absolute;
    left: 0;
    top:50%;
    width: 100%;
    z-index: 100;
    transform: translatey(-50%);
}
.banner-section .carousel-control-prev{
    z-index: 110;
}
.banner-section .carousel-control-next{
    z-index: 110;
}
.from-fild{
    position: relative;
    padding: 20px;
}
.from-fild input{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 5;
}
.from-fild input::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
.check-btn{
    border: none;
    color: #fff;
    background-color: #ef7534;
}
.from-fild select{
    border: none;
}
.welcome{
    color: #fff;
}
.utopia-heading{
    color: #ef7534;
    font-family: "Caveat";
    font-size: 35px;
}
.nav-header{
    border-bottom:solid #fff 1px ;
}
.check-box{
  margin-top: 20px;
}
.box{
    position: absolute;
}
.box-box{
    position: relative;
    background-color: #ef7534;
    width: 97px;
    height: 2px;
    bottom: 27px;
    left: 120px;
}
.heading-txt{
    color: #ef7534;
    font-family: "Caveat";
    font-size: 35px;
}
.box-box-2{
    position: relative;
    background-color: #ef7534;
    width: 97px;
    height: 2px;
    bottom: 27px;
    left: 230px;
}
.heading-3{
    font-size: 50px;
    font-weight: bold;
}
.optional-hotel-section{
    background-image: url("img/hotel-background.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.price-section{
    background-color: rgba(0, 0, 0,0.8);
    color: #fff;
    padding: 15px;
    position:relative;
    bottom: 103px;
}
.price-section h6{
    color: #fff;
}
.font-size{
    font-size: 14px;
    margin-right: 5px;
}
.operational-section{
    background-image: url("img/sam-smith-background-img.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.ctnr-box{
    background-color: #690c10;
    border-radius: 5px;
    
}
.margin_left{
    margin-left: 15px;
}
.header-5{
    font-weight: bold;
    color: #000;
    font-size: 22px;
}
.read-more{
    color: #690c10;
    font-weight: bold;
    font-size: 16px;
}
#date{
    color: #313131;
    font-size: 16px;
    font-weight: bold;
}
.footer-section{
    background-color: #171717;
}
.yellow-color{
    color: #ef7534;
}
.white-color{
    color: #fff;
}
.underline{
background-color: #ef7534;
height: 2px;
width: 35%;
}
.link{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.footer-socal-icon{
    background-color: #ef7534;
    margin-right:15px;
    color: #fff;
    padding: 10px;
}
.copy-right-section{
    background-color: #ef7534;
    color: #fff;
    padding: 15px;
    font-size: 18px;
}
